$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
#subtitle {
  padding: 0 0 0 25px;
}
/* Space out content a bit */
body {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
}
p a {
  color: rgb(136, 176, 75);
}
p a:hover, a:visited {
  text-decoration: none;
  color: rgb(136, 176, 75);
}
h2 {
  text-align: center;
}
#brand {
  font-family: 'Reenie Beanie';
  font-weight: normal;
  font-size: 55px;
}
#title {
  font-family: 'PT Sans';
  font-size: 50px;
}
#license {
  font-family: 'PT Sans Narrow';
  font-size: 15px;
}
.container-fluid {
  padding: 0;
}
// Navigation Menu Styling
.nav li a {
  padding: 10px 20px;
}
.navbar-default {
  background-color: rgb(136, 176, 75);
  border: 0 !important;
  transition: all 0.6s ease-out;
}
.navbar-custom {
  padding: 15px 10px 5px 10px;
}
.navbar-right {
  padding-top: 10px;
}
.navbar-brand {
  padding: 15px 0;
}
a #brand:hover {
  color: rgb(224, 186, 53);
  transition: 0.5s;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: white;
}
.navbar-default .navbar-nav li a {
  transition: 0.5s;
  color: white;
}
.navbar-default .navbar-nav li a:focus {
  color: white;
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default.scrolled {
  background-color: rgb(71, 36, 59);
  color: white;
}
.navbar-default.scrolled a {
  color: white;
}
.navbar-default.scrolled li a, .navbar-default.scrolled {
  color: rgb(136, 176, 75);
}
.navbar-default .navbar-nav li a:hover {
  color: rgb(125, 32, 39);
  transition: 0.5s;
  text-decoration: none;
}
.navbar-default.scrolled .navbar-nav li a:hover, .navbar-default.scrolled {
  color: rgb(224, 186, 53);
  background-color: none;
  transition: 0.5s;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

/* Dropdown Styling */
.dropdown-menu {
  font-size: 18px;
  color: white;
  background: rgb(136, 176, 75);
  border: none;
}
.navbar-default.scrolled .dropdown-menu {
  background: rgb(71, 36, 59);
}
.sub-heading {
  padding-left: 5px;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a
 {
  color: white;
}
.navbar-default.scrolled .navbar-nav .open .dropdown-menu > li > a
 {
  color: rgb(136, 176, 75);
}
.navbar-default.scrolled .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: rgb(224, 186, 53);
  transition: 0.5s;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: rgb(125, 32, 39);
  transition: 0.5s;
}
.dropdown-menu > li > a:hover {
  background: none;
}
li > .dropdown > a > .dropdown-toggle {
  background: none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: none;
  color: rgb(224, 186, 53);
}

// mobile menu icon appearance
.navbar-toggle {
  margin-right: 5px;
  padding: 4px 5px;
  border: none;
}
.navbar-default .navbar-toggle .icon-bar {

  background-color: white;
}
#mandala {
text-align: center;
margin: 0 auto;
overflow: hidden;
}
#header-image{
  margin: 0 auto;
  overflow: hidden;
  max-width: 50%;
  padding-top: 25px;
  padding-bottom: 50px;
}
p {
  text-align: justify;
}
#retreat {
  padding: 0px;
}
h2 {
  padding: 10px;
}
section {
  padding: 120px 0 250px 0;
}
@media (max-width: 767px) {
  section {
    padding: 20px 0 75px 0;
  }
}
.modal-content {
  padding: 25px;
  width: 400px;
  height: 700px;
  overflow: auto;
}
#trauma-modal {
  cursor: pointer;
  color: rgb(136, 176, 75);
}
#contact {
  padding: 60px 0 250px 0;
}
#location {
  padding: 150px 0;
}
#page-top {
  padding-top: 65px;
}
#art-therapy-picture, #beach, #about-picture, #watercolor{
margin: 0 auto;
overflow: hidden;
padding: 15px;
float: left;
}
#watercolor {
  float: none;
}
#beach {
  float: right;
}
.nav-tabs {
  padding: 20px 0;
  border-bottom: 0;
  text-transform: uppercase;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 0;
  color: rgb(136, 176, 75);
}
.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
  border: 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
  color: rgb(136, 176, 75);
}
.nav-tabs > li > a {
  border: 0;
  color: rgb(71, 36, 59);
}
.nav-tabs > li.active > a, .nav-tabs {
  color: rgb(136, 176, 75);
}
.block{
  padding: 0 20px 0 20px;
}
#alert {
  font-size: 10px;
}
.alert.alert-danger{
  padding: 0;

}
form {
  width: 75%;
  font-family: 'PT Sans', sans-serif;
  padding-left: 25px;
}
label {
  display: block;
  padding-top: 10px;
}
label .label-text {
  cursor: text;
  -moz-transform: translateY(-22px);
  -ms-transform: translateY(-22px);
  -webkit-transform: translateY(-22px);
  transform: translateY(-22px);
  transition: all 0.3s;
}
label input {
  background-color: transparent;
  border: 0;
  border-bottom: solid #777 2px;
  transition: all .03s;
}
label input:focus + .label-text{
  color: rgb(125, 32, 39);
  text-transform: uppercase;
  transform: translateY(-55px);
}
label input.value-exists + .label-text {
  color: rgb(125, 32, 39);
  text-transform: uppercase;
  transform: translateY(-55px);
}
#location {
  background-color: rgb(224, 186, 53);
}
.phone {
  font-size: 20px;
}
/* Custom page footer */
footer.text-center {
  padding: 19px;
  color: rgb(136, 176, 75);
  background-color: rgb(71, 36, 59);
  text-align: right;
  font-size: 15px;
}
.footer-below a{
  color: rgb(136, 176, 75);
  text-decoration: none;
}
.footer-below a:hover {
  color: rgb(224, 186, 53);
  transition: 0.5s;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 850px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
#icon {
  text-align: center;
}
/* Icon Down */
@-webkit-keyframes hvr-icon-down {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
  75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hvr-icon-down {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
  75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
/* Icon Down */
.hvr-icon-down {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
}
.hvr-icon-down:before {
  content: "\f0ab";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  font-size: 25px;
  color: rgb(71, 36, 59);
  transition: 0.5s;
}
.hvr-icon-down:hover:before, .hvr-icon-down:focus:before, .hvr-icon-down:active:before {
  -webkit-animation-name: hvr-icon-down;
  animation-name: hvr-icon-down;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  color: rgb(136, 176, 75);
  transition: 0.5s;
}
.box {
  background-color: transparent;
  border: 1px solid black;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px){
  .navbar-brand {
    padding-left: 25px;
  }
  .navbar-toggle {
    padding-right: 25px;
  }
  #title {
    font-size: 30px;
  }
  #brand {
    font-size: 45px;
  }
   .navbar-default {
    padding: 10px;
   }
   section {
    padding: 75px 0;
   }
  .nav li a:hover, .nav :hover {
    text-decoration: none;
}
}
