$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@font-face { font-family: Digory; src: url('/fonts/Digory_Doodles_PS.ttf'); }
div {
  // border: 1px solid black;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
#subtitle {
  padding: 0 0 0 25px;
}

/* Space out content a bit */
body {
  padding-top: 70px;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}
#hi {
  font-family: "Digory";
  font-weight: normal;
  font-size: 25px;
}
#subtitle {
  font-size: 12px
}
.navbar-brand {
  padding: 15px 0;
}
.navbar-custom {
  padding: 15px 0 5px;
}
.navbar-default {
  background-color: transparent;
  border: 0 !important;
  transition: all 0.6s ease-out;
}
.navbar-right {
  padding-top: 10px;
}
.navbar-default .navbar-nav li a {
  transition: 0.5s;
  color: black;
}
.navbar-default .navbar-brand {
  color: black;
}
.navbar-default.scrolled {
  background-color: black;
  color: white;
}
.navbar-default.scrolled a {
  color: white;
}
.navbar-default.scrolled li a{
  color: white;
}
.nav li a {
  padding: 10px 25px;
}
.navbar-default .navbar-nav li a:hover {
  color: #777;
  transition: 0.5s;
}
.nav li a:hover {
  text-decoration: overline;
}
.nav li:hover #services {
  background-color: #777;
}
/* Dropdown menu Navigation Bar */
ul li ul.dropdown{
  padding: 0px 8px 0 8px;
  min-width: 100%; /* Set width of the dropdown */
  background: white;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}
ul li:hover ul.dropdown{
  width: 100%;
  color: white;
  background-color: #777;
  display: block; /* Display the dropdown */
}
ul li ul.dropdown li{
  display: block;
}
ul.dropdown li a {
display: block;
padding: 8px 0;
color: #333;
text-decoration: none;
}
#mandala {
text-align: center;
margin: 0 auto;
overflow: hidden;
padding-top: 50px;
}
#header-image{
  margin: 0 auto;
}
li.menu-header{
  // border-bottom: 1px solid black;
}

p {
  text-align: justify;
}
section {
  padding: 150px 0;
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
}
#about-picture{
margin: 0 auto;
padding-top: 90px;
overflow: hidden;
}
#location {
  background-color: #777;
}
/* Custom page footer */
footer.text-center {
  padding: 19px;
  color: white;
  background-color: black;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 850px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
#map {
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 414px){
   .navbar-default {
    background-color: white;
   }
   ul li ul.dropdown{
    position: relative;
    background-color: white;
  }
}
